

body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  border-bottom: 1px solid silver;
}

header a,:visited,:active {
  margin: 5px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  /* border-bottom: 1px solid white; */
  transition: 0.5s;
}

header a:hover {
  border-bottom: 1px solid black;
}

section.articles {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  /* grid-template-rows: 40%; */
}

article {
  margin: 10px 20px 10px 20px ;
  text-align: justify;
}

article a {
  /* transition: 0.5s; */
  text-decoration: none;
}




article h2 {
  padding: 10px;
  margin: 0 0 10px 0;
  font-size: 30px;
  letter-spacing: 2px;
  /* background: red; */
  width: 50%;
  transition: 0.5s;
}

article h2:hover {
  padding-left: 15px;
}

article h3 {
  /* background: blue; */
  margin: 20px 0 0 0;
}

section.form {

  display: flex;
  align-items: center;
  align-content: center;
  text-align: left;
}

section.form form.registration,.login {
  /* -webkit-box-shadow: -1px 0px 107px -33px rgba(94,94,94,1);
  -moz-box-shadow: -1px 0px 107px -33px rgba(94,94,94,1);
  box-shadow: -1px 0px 107px -33px rgba(94,94,94,1); */
  padding: 30px;
  margin: 30px 0 30px 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  border: 1px solid silver;
  border-radius: 20px;
  /* background: red; */
}

section.form  label {
  margin: 5px;
  float: left;
}

section.form input[type=text], input[type=password] {
  background-size: contain;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid black;
}

section.form input[type=text]:focus, input[type=password]:focus {
  padding: 5px;
  border: 1px solid blue;
}

section.form input[type=submit] {
  padding: 10px;
}


.bg-correct {
  border: 1px solid green;
  background: url('/static/img/check.png') no-repeat right;
}

.bg-incorrect {
  border: 1px solid red;
  background: url('/static/img/close.png') no-repeat right;
}

footer {
  background: silver;
  width: 100%;
}
